* {
	text-align: center;
	box-sizing: border-box;	
	vertical-align: top;
}

.wrapper {
	width: 1200px;
	text-align: center;
	border: 1px solid dimgrey;
}

.totalBox {
	display: inline;
	text-align: center;
}

.place {
	display: inline-block;
	width: 23%;
	margin: 5px;
	border: 2px solid darkgrey;
}

.actions {
	display: inline;
	height: 200px;
	overflow: scroll;
}